<div class="title-group">
  <h1 class="mat-h1">Account Login</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<form
  [formGroup]="userLoginForm"
  (ngSubmit)="submitUserLoginForm()"
  #resetUserLoginForm="ngForm"
  novalidate
>
  <mat-card>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="GBC Number" formControlName="gbc_number" />
        <mat-error *ngIf="handleError('gbc_number','required')">
          You must enter a GBC number
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="user_password"
        />
        <mat-error *ngIf="handleError('user_password','required')">
          You must enter a password
        </mat-error>
      </mat-form-field>
      <div class="full-wrapper button-wrapper">
        <button type="submit" [disabled]="!userLoginForm.valid">Log in</button>
        <button [routerLink]="['/user-signup']">Register</button>
      </div>
    </div>
  </mat-card>
</form>
