<p>Please enter your license plate number</p>
<form
  [formGroup]="licensePlateForm"
  (ngSubmit)="submitLicensePlateForm()"
  #resetLicensePlateForm="ngForm"
  novalidate
>
  <mat-card>
    <div class="controllers-wrapper">
      <mat-form-field>
        <input
          matInput
          placeholder="License Plate Number"
          formControlName="license_plate"
        />
        <mat-error *ngIf="handleError('license_plate','required')">
          You must enter in a license plate number
        </mat-error>
      </mat-form-field>
      <div class="full-wrapper button-wrapper">
        <button type="submit" [disabled]="!licensePlateForm.valid">
          Continue
        </button>
        <button [routerLink]="['/clb-spots']">Back</button>
      </div>
    </div>
  </mat-card>
</form>
