<div class="container button-container">
    <div align="right">
        <button mat-flat-button color="warn" [routerLink]="['/login']">
            Logout
        </button>
    </div>
</div>
<div class="container confirmation-container">
    <p>Reservation details</p>
    <p>Lot: {{ reservation.lot.lot_name }}</p>
    <p>Spot number: {{ reservation.spot.spot_name }}</p>
    <p>
        Time: {{ reservation.start_time | date: "shortTime" }}–{{
            reservation.end_time | date: "shortTime"
        }}
    </p>
    <p>License plate number: {{ reservation.license_plate_number }}</p>
    <br />
    <div class="inner-wrapper">
        <form
            [formGroup]="extendForm"
            (ngSubmit)="submitExtendForm()"
            novalidate
        >
            <mat-form-field>
                <mat-label>Time to extend</mat-label>
                <select
                    matNativeControl
                    required
                    formControlName="timeToExtend"
                >
                    <option
                        *ngFor="let time of extensionTimeValues; index as i"
                        value="{{ time }}"
                        >{{ extensionTimeStrings[i] }}</option
                    >
                </select>
            </mat-form-field>
            <div class="full-wrapper button-wrapper">
                <div class="button-wrapper">
                    <button
                        type="submit"
                        mat_flat-button
                        [disabled]="!extendForm.valid"
                    >
                        Submit
                    </button>
                </div>
                <div class="button-wrapper">
                    <button
                        type="button"
                        mat-flat-button
                        [routerLink]="['/user-dashboard']"
                    >
                        Back
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
