<div class=widthsize>
    <a href='#'>Home</a>
    <span>-></span><a href="#2">submit a Comment</a>
    <button style="float: right;">Log out</button> 


<div class='history'> 
    
    <h3 class="center">
        Please fill out your comment below
    </h3>
    <h4>
        Comment
    </h4>
    <input name="comment" id="comment">
    <div [hidden]="comment.valid || comment.pristine"
    class="alert alert-danger">
        Please Fill out the comment Property!
    </div>

    <button (click)="submitComment">Submit</button>
    <button><a [routerLink]="['/user-dashboard']">2</a></button>

</div>
</div>