<div class="container button-container">
    <div align="right">
        <button mat-flat-button color="warn" [routerLink]="['/login']">
            Logout
        </button>
    </div>
</div>
<div class="container confirmation-container">
    <p>Please confirm your reservation details below</p>
    <p>Lot: {{ reservation.lot.lot_name }}</p>
    <p>Spot number: {{ reservation.spot.spot_name }}</p>
    <p>Time: {{ reservation.start_time }}–{{ reservation.end_time }}</p>
    <p>License plate number: {{ reservation.license_plate_number }}</p>
    <br />
    <button mat-flat-button color="primary" (click)="deleteReservation()">
        Reserve
    </button>
    &nbsp;&nbsp;
    <button mat-flat-button color="accent" [routerLink]="['/user-dashboard']">
        Back
    </button>
</div>
