<div class="container button-container">
  <div align="right">
    <button mat-flat-button color="warn" [routerLink]="['/login']">
      Log Out
    </button>
  </div>
</div>
<h1><u>Lot CLB</u></h1>
<br />
<div class="container">
  <div class="container color-container1"></div>
  <div>Available</div>
</div>
<div class="container">
  <div class="container color-container2"></div>
  <div>Unavailable</div>
</div>

<div class="container gridlist-container">
  <mat-grid-list cols="10" rowHeight="2:1">
    <mat-grid-tile class="unavailable">Slot 1</mat-grid-tile>
    <mat-grid-tile>Slot 2</mat-grid-tile>
    <mat-grid-tile>Slot 3</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 4</mat-grid-tile>
    <mat-grid-tile>Slot 5</mat-grid-tile>
    <mat-grid-tile>Slot 6</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 7</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 8</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 9</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 10</mat-grid-tile>

    <br />

    <mat-grid-tile>Slot 11</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 12</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 13</mat-grid-tile>
    <mat-grid-tile>Slot 14</mat-grid-tile>
    <mat-grid-tile [routerLink]="['/license-plate']">Slot 15</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 16</mat-grid-tile>
    <mat-grid-tile>Slot 17</mat-grid-tile>
    <mat-grid-tile>Slot 18</mat-grid-tile>
    <mat-grid-tile>Slot 19</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 20</mat-grid-tile>

    <br />
    <mat-grid-tile>Slot 21</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 22</mat-grid-tile>
    <mat-grid-tile>Slot 23</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 24</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 25</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 26</mat-grid-tile>
    <mat-grid-tile>Slot 27</mat-grid-tile>
    <mat-grid-tile>Slot 28</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 29</mat-grid-tile>
    <mat-grid-tile>Slot 30</mat-grid-tile>

    <br />
    <mat-grid-tile class="unavailable">Slot 31</mat-grid-tile>
    <mat-grid-tile>Slot 32</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 33</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 34</mat-grid-tile>
    <mat-grid-tile>Slot 35</mat-grid-tile>
    <mat-grid-tile>Slot 36</mat-grid-tile>
    <mat-grid-tile>Slot 37</mat-grid-tile>
    <mat-grid-tile>Slot 38</mat-grid-tile>
    <mat-grid-tile>Slot 39</mat-grid-tile>
    <mat-grid-tile class="unavailable">Slot 40</mat-grid-tile>
  </mat-grid-list>
  <button mat-flat-button color="warn" [routerLink]="['/select-lot-time']">
    Back
  </button>
</div>
