<div class="container button-container">
    <div align="right">
        <button mat-flat-button color="warn" (click)="authService.logOut()">
            Log Out
        </button>
    </div>
</div>
<h1><u>Lot CLB</u></h1>
<br />
<div class="container">
    <div class="container color-container1"></div>
    <div>Available</div>
</div>
<div class="container">
    <div class="container color-container2"></div>
    <div>Unavailable</div>
</div>

<div class="container gridlist-container">
    <div
        class="spot"
        [ngClass]="{ unavailable: !spotAvailability[i] }"
        *ngFor="let spot of spots; index as i"
        (click)="selectSpot(i + 1)"
    >
        Slot {{ i + 1 }}
    </div>
</div>
<button mat-flat-button color="warn" [routerLink]="['/select-lot-time']">
    Back
</button>
